.Earning {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 6px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb:hover{
        background-color: #ddd;
    }
    
    .Song-search {
        display: flex;
        div {
            padding: .5rem 0 .5rem 1rem;
            margin: auto;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
            input {
                padding-left: .5rem;
                border: none;
                outline: none;
                
                }
        }
    }
    .addFavoriteMusic {
        position: absolute;
        bottom: 5px;
        right: 0;
    }
    .addFavoriteMusic:hover{
        opacity: .7;
    }
}